  
  
:root {
  --basic-white: #ffffff;
  --basic-light-dark: #EEEEEE;
  --light-grey: #F2F2F2;
  --defolt-smoke:  #f5f5f5;
  --basic-dark: #81B3D2;
  --dark-blue: #669EC0;
  --footer-color: rgba(255, 255, 255, 0.9);
  --default-font-family: "PT Sans", Arial, sans-serif;
  --default-black: #000000;
  --default-hover: #81B3D2;
  --default-brown: #766357;
  --default-dark-grey:  #ababab;
  --default-for-tringle: #CACACA;
  --fefault-for-button: #666666;
  --default-for-booking__name: #333333;
  --default-for-border: #E5E5E5;
  --default-active:  #5496BD;
  --default-right-button-hover: #604E43;
  --default-right-button-active: #503E33;
  --default-logo-active: #231F20;
  --default-brown-hover: #604E43;
  --default-brown-active:#503E33;
  --defauit-blocked-checkbox: #6A6A6A;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--default-font-family);
  text-transform: uppercase;
  background-color: var(--basic-white);

} 
  
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}

.attraction-with-image-section__text-container {
  background:var(--basic-dark);
  color: var(--basic-white);
}

.attraction-second-image-section__text-container {
  background: var(--basic-dark);
  color: var(--basic-white);
}

.feature-section {
  background: var(--basic-white);
}

.attraction-section {
  background:var(--basic-light-dark);
}

.search-form-section {
  position: relative;
  background: var(--basic-white);
}

.data-search {
  background: var(--basic-white);
}

.data-search p:first-child {
 font-size: 21px;
}

.data-search p:nth-child(2) {
  font-size: 12px;
 }

.page-body{
  min-height: 100%;
  background-color: var(--defolt-smoke);
}

.page-body__wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* header */

.header {
  background-color: var(--basic-white);
}

.header__content-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header__logo {
  position: absolute;
  width: 138px; 
  height: 70px;
  top: 0px;
  left: calc(50% - 69px);
  z-index: 1;
}

.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 72px;
  list-style: none;
}

.header__nav-item {
  width: 100%;
}

.header__nav-item--left {
  text-align: left;
}

.header__nav-item--right {
  text-align: right;
}

.header__nav-item a {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--default-black);
}

.header__nav-item :hover {
  color: var(--default-hover);
}

.header__nav-item :focus {

}

.header__nav-item :active {

}

.header__nav-item :visited {

}


.attraction-with-image-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.attraction-with-image-section__title {
  margin-top: 47px;
  font-weight: 700;
  font-size: 21px;
}

.attraction-with-image-section__subtitle {
  margin-top: 25px;
}

.attraction-with-image-section__description {
  margin-top: 23px;
}

.attraction-with-image-section__text-container {
  text-align: center;
}

.attraction-section__list {
text-align: center;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto auto auto 1fr auto;
}

.container__label {
  position: absolute;
  top: 77px;
  left: calc(50% - 228px);
}

.container__wings {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container__image {
  position: relative;
  background-image: url(../img/backgroundphoto.jpg);
  width: auto; 
  height: 509px; 
  }

.explanation {
  display: grid;
  background: var(--basic-white);
  }

.explanation__title {
  padding-top: 43px;
  left: 405px;
  top: 606.5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.explanation__description {
  text-align: center;
  margin-bottom: 51px;
  padding-top: 16px;
}
 
.feature-section__feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 64px 0 0 0;
  padding: 0;
  text-align: center;
  list-style:none;
}

.feature-section__feature-title {
  margin-top: 31px;
} 

.feature-section__feature-description {
  margin-top: 25px;
  margin-bottom: 82px;
} 

.attraction-second-image-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}

.attraction-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 54px 0;
  margin: 0 auto;
  list-style:none;
}

.attraction-section__item-title {
  margin-top: 47px;
}

.attraction-section__item-subtitle {
  margin-top: 25px;
}

.attraction-section__item-text {
  margin-top: 23px;
}

/* search-form-section */

.search-form-section__header-container {
  text-align: center;
}

.search-form-section__title {
  margin: 58px 0 0 0;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form-section__subtitle {
  margin: 28px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form-section__open-button {
  display: block;
  margin: 40px auto 0 auto;
  padding: 30px 24px 38px 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;  
  width: 568px;
  color: var(--basic-white);
  background-color:var(--default-brown);
  border: none;
  text-transform: uppercase;
}

.search-form-section__open-button:hover {
background-color: var(--default-brown-hover);
}

.search-form-section__open-button:active {
  background-color: var(--default-brown-active);
  }

.search-form-section__form {
  box-sizing: border-box;
  padding: 55px;
  position: absolute;
  width: 568px;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  top: 291px;
  left: calc(50% - 284px);
}

.search-form-section__item {

}

.search-form-section__ages {
  display: flex;
  justify-content: space-between;
}

.search-form-section__check-out-date {

}

.search-form-section__input {
  padding: 0 10px;
  font-family: var(--default-font-family);
  background-color: var(--light-grey);
  border: none;
  text-transform: uppercase;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.search-form-section--type-age {

}

.search-form-section__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.appointment-item input:focus {
  border-color: var(--special);
}

.search-form-section__submit-button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
}

.search-form-section__submit-button-text {
  margin: 16px 182px 16px 181px;
}


/* footer */

.footer {
  background-color: var(--footer-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__contact-link {
  display: block;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--default-black);
}

.footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style:none;
}

.footer__social-item {
  margin-left: 6px;
}

.footer__social-button {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color:var(--basic-dark);
}

.footer__social-button:active {
  background-color: var(--dark-blue);
}

.footer__social-button:hover {
  background-color: var(--dark-blue);
}

.footer__social-button:hover path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.footer__social-button:active path {
  fill: var(--basic-white);
  opacity: 0.3;
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.footer__logo-text {
  display: block;
  font-size: 14px;
  line-height: 26px;
}

.footer__logo-link {
  margin-left: 10px;
}

.footer__logo-link:hover path {
  fill: var(--default-hover);
}

.footer__logo-link:active path {
  fill: var(--default-logo-active);
}


/* choose-form-section */

.choose-form-section{
  display: grid;
  grid-template-columns: 1fr 1fr 50%;
  height: 217px;
  background-image: url(../img/background.jpg);
}

.choose-form__service {
  display:block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  color: var(--basic-white);
}

.choose-form__checkbox-input + label::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.choose-form__checkbox-input:not(:checked) + label::after {
  background-image: url("../img/checkbox_off.svg");
}

.choose-form__checkbox-input:checked + label::after {
  background-image: url("../img/checkbox_on.svg");
}

.choose-form__checkbox-input:disabled {
  color: var(--defauit-blocked-checkbox);
}

.choose-form__check {
  margin-top: 24px;
}

.choose-form__checkbox {
  display: flex;
}

.choose-form__checkbox:not(:first-of-type) {
  margin-top: 22px;
}

.service {
  display: block;
  margin-left: 32px;
}


/* бегунок */

.choose-form-section__column {
  padding: 27px 73px 32px 73px;
}

.choose-form-section__fieldset {
  border: none;
}

.choose-form__title {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.choose-form__filter-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 27px 73px 32px 73px;
  border: none;
}

.choose-form__range-filter {
  padding: 0;
  border: none;
}

.choose-form__range-controls {
  position: relative;
  width: 316px;
  margin-top: 20px;
}

.choose-form__range-controls .scale {
  position: relative;
  width: 316px; 
  height: 2px;
  background-color: var(--basic-white);
}

.choose-form__price-controls {
  margin-top: 10px;
  position: relative;
  border: 2px solid var(--basic-white);
  display: flex;
}

.choose-form__price-controls::before {
  content: "";
  position: absolute;
  left: 150px;
  right: 0;
  top: 5px;
  width: 2px;
  height: 22px;
  background-color:var(--basic-white);

}

.choose-form__price-blocks {
  display: flex;
}

.choose-form__min-price {
  margin: 5px 0 6px 64px;
  color:var(--basic-white);
}
.choose-form__max-price {
  margin: 5px 0 6px 72px;
  color:var(--basic-white);
}

.choose-form__min-price-input {
  margin: 5px 0 6px 4px;
  color:var(--basic-white);
  background: transparent;
  border: none;
  /* border: 1px solid red; */
  width: 47px;
}

.choose-form__max-price-input{
  margin: 5px 0 6px 4px;
  color:var(--basic-white);
  background: transparent;
  border: none;
  /* border: 1px solid red; */
  width: 47px;
}

.choose-form__range-controls .bar {
  position: absolute;
  left: 22px;
  width: 150px;
  height: 2px;
  background-color: var(--basic-white);
}

.choose-form__range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--default-dark-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--default-dark-grey);
  cursor: pointer;
}

.choose-form__range-controls .toggle-min {
  left: 0;
}

.choose-form__range-controls .toggle-max {
  left: 245px;
}

.choose-form__button {
  display: block;
  position: relative;
  padding: 7px 35px 8px 36px;
  margin: 33px auto 0 auto;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px; 
  background: transparent;
  text-transform: uppercase;
  color: var(--basic-white);
}

.choose-form__button:hover {
  background-color: var(--basic-white);
  color: var(--default-black);
}

.data-search {
  display: grid;
  grid-template-columns: auto auto auto 50%;
}
.data-search p {
  display:block;
  margin-top: 29px;
  margin-left: 73px;
  font-weight: bold;
}

.data-search p:nth-child(2) {
  display:block;
  margin-top: 31px;
  margin-left: 46px;
  font-weight: normal;
}

.data-search ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style:none;
  margin-top: 32px;
} 

.data-search_triangle {
  margin-left: auto;
  padding-top: 40px;
}

.data-search_triangle a:nth-child(2) {
  margin-right: 73px;
}

.data-search_item {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--default-black);
  opacity: 0.3;
}

.data-search_item:hover {
  color: var(--dark-blue);
  opacity: 1;
}

.data-search_item:active {
  color: var(--default-black);
  opacity: 1;
}

/* .data-search_item:visited {
  color: var(--dark-blue);
   opacity: 1;
} */

.data-search_item-tr {
 color: var(--default-for-tringle); 
 text-decoration: none;
}

.data-search_item-tr:hover {
  color:var(--default-black); 
 }

 .data-search_item-tr:active {
  color:var(--basic-dark); 
 }

 /* .data-search_item-tr:visited {
  color: var(--dark-blue);
} */


.booking {
  display: flex;
  padding: 30px 0;
  padding-left: 73px;
  border: 1px solid var(--default-for-border);
  background: var(--basic-white);
}

.boking__details {
  display: flex;
}

.booking__title {
  margin: 0;
  font-size: 21px;
}

.booking__title-link {
  text-decoration: none;
  color: var(--default-black);
}

.booking__title-link:hover {
color: var(--basic-dark);
}

.booking__title-link:active {
  color: var(--default-black);
  opacity: 0.3;
  }

.booking__name {
  color: var(--default-for-booking__name);
}

.booking__rating-container {
  margin-left: auto;
  margin-right: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.booking__description {
  margin-left: 29px;
}

.booking__rating-container {
  position: relative;
}

.booking__rating-stars {
  font-size: 21px;
  margin: 0;
  color: var(--basic-dark);
}

.booking__button-left {
  padding: 3px 16px 3px 17px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--basic-dark);
  color: var(--basic-white);
  border: none;
}

.booking__button-left:hover {
  background-color: var(--dark-blue);
}

.booking__button-left:active {
  background-color: var(--default-active);
}

.booking__button-right {
  margin-left: 6px;
  padding: 3px 17px 3px 16px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--default-brown);
  color: var(--basic-white);
  border: none;
}

.booking__button-right:hover {
  background-color: var(--default-right-button-hover);
}

.booking__button-right:active {
  background-color: var(--default-right-button-active);
} 

.booking__rating-button {
  margin: 0;
  padding: 3px 12px 3px 15px;
  font-size: 14px;
  white-space: nowrap;
  background-color: var(--light-grey);
  color: var(--fefault-for-button);
  text-transform: uppercase;
}