  
  
:root {
  --basic-white: #ffffff;
  --basic-light-dark: #EEEEEE;
  --light-grey: #F2F2F2;
  --defolt-smoke:  #f5f5f5;
  --basic-dark: #81B3D2;
  --dark-blue: #669EC0;
  --footer-color: rgba(255, 255, 255, 0.9);
  --default-font-family: "PT Sans", Arial, sans-serif;
  --default-black: #000000;
  --default-hover: #81B3D2;
  --default-brown: #766357;
   --game-boy-color: rgba;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--default-font-family);
  background-color: var(--basic-white);
} 
  
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"), url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"), url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

.img {
  max-width: 100%;
  height: auto;
}

.explanation {
  background: var(--basic-white);
}

.attraction-with-image-section__text-container {
  background:var(--basic-dark);
}

.attraction-second-image-section__text-container {
  background: var(--basic-dark);
}

.feature-section {
  background: var(--basic-white);
}

.attraction-section {
  background:var(--basic-light-dark);
}

.search-form-section {
  background: var(--basic-white);
}

.data-search {
  background: var(--basic-white);
}
.page-body{
  min-height: 100%;
  background-color: var(--defolt-smoke);
}

.page-body__wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/* header */

.header {
  background-color: var(--basic-white);
}

.header__content-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header__logo {
  position: absolute;
  width: 138px; 
  height: 70px;
  top: 0px;
  left: calc(50% - 69px);
}

.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 72px;
  list-style: none;
}

.header__nav-item {
  width: 100%;
}

.header__nav-item--left {
  text-align: left;
}

.header__nav-item--right {
  text-align: right;
}

.header__nav-item a {
  font-family: var(--default-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--default-black);
}

.header__nav-item :hover {
  color: var(--default-hover);
}

.header__nav-item :focus {

}

.header__nav-item :active {

}

.header__nav-item :visited {

}


.attraction-with-image-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto 1.5fr auto 1fr auto;
}

.container__label {
  position: absolute;
  top: 132px;
  left: calc(50% - 228px);
}

.container__image {
  background-image: url(../img/backgroundphoto.jpg);
  width: auto; 
  height: 509px; 
  }

.explanation__title {
  left: 405px;
  top: 606.5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16.5px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.explanation__description {
  text-align: center;
  margin-bottom: 51px;
}
 
/* container */

.container {
  width: 1200px;
  margin: 0 auto;
}

.container--type_main-page {

}

.container--type_inside-page {
  grid-template-rows: auto auto 1fr 1fr 1fr;
}

.feature-section__feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  list-style:none;
}

.attraction-second-image-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
}

.attraction-section__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  list-style:none;
}


/* search-form-section */

.search-form-section__header-container {
  text-align: center;
}

.search-form-section__title {
  margin: 58px 0 0 0;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form-section__subtitle {
  margin: 28px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.search-form-section__open-button {
  display: block;
  margin: 40px auto 0 auto;
  padding: 30px 24px 30px 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;  
  width: 568px;
  color: var(--basic-white);
  background-color:var(--default-brown);
  border: none;
  text-transform: uppercase;
}

.search-form-section__form {
  box-sizing: border-box;
  padding: 55px;
  position: absolute;
  width: 568px;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  left: calc(50% - 284px);
}

.search-form-section__item {

}

.search-form-section__ages {
  display: flex;
  justify-content: space-between;
}

.search-form-section__check-out-date {

}

.search-form-section__input {
  padding: 0 10px;
  font-family: var(--default-font-family);
  background-color: var(--light-grey);
  border: none;
  text-transform: uppercase;
  height: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
}

.search-form-section--type-age {

}

.search-form-section__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.appointment-item input:focus {
  border-color: var(--special);
}

.search-form-section__submit-button {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-dark);
  width: 100%;
  height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  border: none;
  text-transform: uppercase;
}


/* footer */

.footer-main{
  background-color: var(--footer-color);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
}
.footer-main-button__search {
  font-size: 21px;
  line-height: 26px;
}

.footer-main-button__phone {
  font-size: 21px;
  line-height: 26px;
}

.footer-main-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style:none;
}

.footer-main-social__button {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color:var(--basic-dark);
}

.footer-main-social__button:hover {
  background-color: var(--dark-blue);
}

.footer-main-social__button:hover path {
  background-color: var(--dark-blue);
  }

.footer-main-logo {
  display: flex;
  align-items: center;
}

.footer-main-logo__text {
  display: block;
  font-size: 14px;
  line-height: 26px;
}

.footer-logo:hover path {
  fill: var(--default-hover);
}

.choose-form-section{
  display: grid;
  grid-template-columns: 1fr 1fr 50%;
  height: 217px;
  background-image: url(../img/background.jpg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.choose-form__service {
  display:block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  color: var(--basic-white);
}

.choose-form__checkbox-input + label::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 27px;
  height: 23px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.choose-form__checkbox-input:not(:checked) + label::after {
  background-image: url("../img/checkbox_off.svg");
}

.choose-form__checkbox-input:checked + label::after {
  background-image: url("../img/checkbox_on.svg");
}

.choose-form__check {
  margin-top: 24px;
}

.choose-form__checkbox {
  display: flex;
}

.choose-form__checkbox:not(:first-of-type) {
  margin-top: 22px;
}

.service {
  display: block;
  margin-left: 32px;
}


/* бегунок */

.choose-form-section__field {
  border: none;
  padding: 27px 73px 32px 73px;
}

.choose-form__title {
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.choose-form__filter-item {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 27px 73px 32px 73px;
  border: none;
}

.choose-form__range-filter {

}

.choose-form__range-controls {
  position: relative;
  width: 316px;
  margin-top: 20px;
}

.choose-form__range-controls .scale {
  position: relative;
  width: 316px; 
  height: 2px;
  background-color: var(--basic-white);
}

.choose-form__price-controls {
  border: 2px solid var(--basic-white);
  display: flex;
  width: 317px;
  height: 34px;
}

.choose-form__price-blocks {
  width: 158px;
}

.choose-form__min-price {
  width: 158px;
  color:var(--basic-white);
}
.choose-form__max-price {
  width: 158px;
  color:var(--basic-white);
}

.choose-form__min-price-input {
  width: 124px;
  height: 30px;
  padding: 0;
  color:var(--basic-white);
  background: transparent;
  border: none;
  border: 1px solid red;
}

.choose-form__max-price-input{
  width: 124px;
  height: 30px;
  padding: 0;
  color:var(--basic-white);
  background: transparent;
  border: none;
  border: 1px solid red;
}

.choose-form__range-controls .bar {
  position: absolute;
  left: 22px;
  width: 150px;
  height: 2px;
  background-color: var(--basic-white);
}

.choose-form__range-controls .toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.choose-form__range-controls .toggle-min {
  left: 18px;
}

.choose-form__range-controls .toggle-max {
  left: 160px;
}

.choose-form__button {
  display: block;
  position: relative;
  padding: 7px 35px 8px 36px;
  margin: 33px auto 0 auto;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px; 
  background: transparent;
  text-transform: uppercase;
  color: var(--basic-white);
}

.data-search {
  display: grid;
  grid-template-columns: auto auto auto 50%;
}
.data-search p {
  display:block;
}
.data-search ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style:none;
} 

.booking{
  display: flex;
  background: var(--basic-white);
  padding: 30px 0;
}

.boking__details {
  display: flex;
}

.booking__title {
  margin: 0;
}

.booking__rating-container {
  margin-left: auto;
}

.booking__description {
  margin-left: 29px;
}

.booking__details-column:not(:first-of-type) {
  margin-left: 6px;
}

.booking__rating-container {
  position: relative;
}

.booking__rating-stars {
  margin: 0;
}

.booking__rating-button {
  position: absolute;
  right: 0;
  bottom: 0;
  white-space: nowrap;
}